[Unit]
Description=API Gateway microservice
After=network.target

[Service]
Type=simple
ExecStart={{ install_dir }}/apigateway \
  -http.addr={{ ansible_host }}:8080 \
  -etcd.addr={{ etcd_endpoint }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
